body{
    background: #000;
}
div{
    background: rgb(31, 231, 205);
    width: 50%;
    height: 500px;

}
h2{
    text-align: center;
    color: rgb(1, 39, 41);
    font-weight: 800;
    padding: 50px;

}
p{
    color: darkslateblue;
    font-size: 28px;
    font-weight: 500;
    text-align: justify;
    padding: 40px;
}